# Car Purchasement Classification
-------------------

In [2]:
# Imports
import pandas as pd
import seaborn as sns

In [5]:
# Cargamos el csv
df = pd.read_csv( "car_data.csv" )

#Visualizamos el dataset
df.head()

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [7]:
#Visualizamos las dimensiones del dataset
df.shape

(1000, 5)